<div class="KOMFeatureList">

<%- include('../../../../node_modules/OLSKFeatureList/main.ejs', {
	OLSKFeatureListData: OLSKLocalized('KOMFeatureListArray').map(function (e, i) {
		return e.concat([
			'/_shared/__external/OLSKUIAssets/_OLSKSharedFeatureTTS.svg',
			'/_shared/__external/OLSKUIAssets/_OLSKSharedFeatureRecord.svg',
			'/_shared/__external/OLSKUIAssets/_OLSKSharedFeatureTags.svg',
			'/_shared/__external/OLSKUIAssets/_OLSKSharedFeatureIO.svg',
		][i]);
	}),
}) %>

</div>
