<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',

	'/_shared/__external/launchlet/__compiled/launchlet.css',
	'/_shared/__external/launchlet/__compiled/launchlet.js',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>
<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>KOMBrowseDispatchCreate</strong>
	<span id="TestKOMBrowseDispatchCreate">0</span>
</p>

<p>
	<strong>KOMBrowseDispatchCreateData</strong>
	<span id="TestKOMBrowseDispatchCreateData">undefined</span>
</p>

<p>
	<strong>KOMBrowseListDispatchClose</strong>
	<span id="TestKOMBrowseListDispatchClose">0</span>
</p>
