<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>KOMBrowseListItemDispatchCreate</strong>
	<span id="TestKOMBrowseListItemDispatchCreate">0</span>
	<span id="TestKOMBrowseListItemDispatchCreateData">undefined</span>
</p>

<p>
	<strong>KOMBrowseListItemDispatchClick</strong>
	<span id="TestKOMBrowseListItemDispatchClick">0</span>
	<span id="TestKOMBrowseListItemDispatchClickData">undefined</span>
</p>

<p>
	<strong>KOMBrowseListItemDispatchArrow</strong>
	<span id="TestKOMBrowseListItemDispatchArrow">0</span>
	<span id="TestKOMBrowseListItemDispatchArrowData">undefined</span>
</p>

<p>
	<strong>KOMBrowseListItemDispatchFilter</strong>
	<span id="TestKOMBrowseListItemDispatchFilter">0</span>
	<span id="TestKOMBrowseListItemDispatchFilterData">undefined</span>
</p>
