<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<div id="Target"></div>

<p>
	<strong>KOMPlayDispatchDone</strong>
	<span id="TestKOMPlayDispatchDone">0</span>
</p>

<p>
	<strong>KOMPlayDispatchUpdate</strong>
	<span id="TestKOMPlayDispatchUpdate">0</span>
</p>

<p>
	<strong>KOMPlayDispatchUpdateData</strong>
	<span id="TestKOMPlayDispatchUpdateData">undefined</span>
</p>

<p>
	<strong>KOMPlayDispatchSpeechRead</strong>
	<span id="TestKOMPlayDispatchSpeechRead">0</span>
</p>

<p>
	<strong>KOMPlayDispatchSpeechReadData</strong>
	<span id="TestKOMPlayDispatchSpeechReadData">undefined</span>
</p>

<p>
	<strong>KOMPlayDispatchSpeechStop</strong>
	<span id="TestKOMPlayDispatchSpeechStop">0</span>
</p>

<p>
	<strong>KOMPlayAudioLog</strong>
	<span id="TestKOMPlayAudioLog"></span>
</p>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>
