.KOMPlay {
	width: 100%;

	/* KOMPlayFlexbox:Parent */
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

@media screen and (max-width: 760px) {

.KOMPlay {
	height: 100%;
}

}

.KOMPlayToolbar {
	border-bottom: var(--KOMBorderStyle);
}

.KOMPlayBody {
	--KOMPlayBodyButtonHeight: 100px;
	
	/* KOMPlayFlexbox:Parent */
	flex-grow: 1;

	/* KOMPlayBodyFlexbox:Parent */
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.KOMPlayBody button {
	height: var(--KOMPlayBodyButtonHeight);
}

.KOMPlayHear {
	/* KOMPlayHearFlexbox:Parent */
	display: flex;
}

.KOMPlayHear button {
	background: rgba(0, 0, 0, 0.08);
	color: rgba(0, 0, 0, 0.8);
	
	/* KOMPlayHearFlexbox:Child */
	flex: 1;
}

.KOMPlayCard {
	padding: var(--KOMCommonPadding);

	font-size: 30px;
	text-align: center;

	/* KOMPlayBodyFlexbox:Child */
	flex-grow: 1;

	/* KOMPlayCardFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

.KOMPlayCard > * {
	/* KOMPlayCardFlexbox:Child */
	flex-grow: 0.3;

	/* KOMPlayCardChildFlexbox:Parent */
	display: flex;
	align-items: center;
	justify-content: center;
}

.KOMPlayCardAnswer {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.KOMPlayCardNotes {
	opacity: 0.5;
	font-size: 20px;
}

.KOMPlayFlipButton {
	height: calc(var(--KOMPlayBodyButtonHeight) * 2) !important;

	background: rgba(0, 0, 0, 0.02);
	color: rgba(0, 0, 0, 0.8);
}

.KOMPlayResponseCorrect {
	/* KOMPlayResponseCorrect:Parent */
	display: flex;
}

.KOMPlayResponseCorrect button {
	/* KOMPlayResponseCorrect:Child */
	flex-grow: 1;
}

.KOMPlayResponseButtonAgain {
	background: rgba(0, 0, 0, 0.11) !important;
}

.KOMPlayResponseButtonHard {
	background: rgba(0, 0, 0, 0.08) !important;
}

.KOMPlayResponseButtonGood {
	background: rgba(0, 0, 0, 0.05) !important;
}

.KOMPlayResponseButtonEasy {
	background: rgba(0, 0, 0, 0.02) !important;
}
