.KOMPlay {
	width: 100%;

	/* KOMPlayFlexbox:Parent */
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

@media screen and (max-width: 760px) {

.KOMPlay {
	height: 100%;
}

}

.KOMPlayToolbar {
	border-bottom: var(--KOMBorderStyle);
}

.KOMPlayBody {
	/* KOMPlayFlexbox:Parent */
	flex-grow: 1;

	/* KOMPlayBodyFlexbox:Parent */
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.KOMPlayCard {
	/* KOMPlayBodyFlexbox:Child */
	flex-grow: 1;
}

.KOMPlayBody button {
	height: 60px;

	background: rgba(0, 0, 0, 0.1);
}

.KOMPlayResponseCorrect {
	/* KOMPlayResponseCorrect:Parent */
	display: flex;
}

.KOMPlayResponseCorrect button {
	/* KOMPlayResponseCorrect:Child */
	flex-grow: 1;
}

.KOMPlayResponseButtonAgain {
	background: rgba(0, 0, 0, 0.11) !important;
}

.KOMPlayResponseButtonHard {
	background: rgba(0, 0, 0, 0.08) !important;
}

.KOMPlayResponseButtonGood {
	background: rgba(0, 0, 0, 0.05) !important;
}

.KOMPlayResponseButtonEasy {
	background: rgba(0, 0, 0, 0.02) !important;
}
