:root {
	--OLSKCommonBackground: var(--KOMCommonBackground);
	--OLSKCommonForeground: var(--KOMCommonForeground);
	--OLSKCommonFontSize: 11pt;
}

body {
	background: var(--KOMCommonBackground);
	color: var(--KOMCommonForeground);
}

.KOMVitrineVideo {
	margin: 20px auto;
	text-align: center;
}

.KOMVitrineVideoFrame {
	border: 6px #ccc solid;
}
