:root {
	--OLSKCommonBackground: var(--KOMCommonBackground);
	--OLSKCommonForeground: var(--KOMCommonForeground);
}

body {
	background: var(--KOMCommonBackground);
	color: var(--KOMCommonForeground);
}
