<div class="KOMRootLink">

<%- include('../__external/OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: OLSKCanonicalLocalizedFor('KOMVitrineRoute'),
	OLSKRootLinkImageURL: '/_shared/KOMRootLink/ui-assets/identity.svg',
}) %>

</div>
