<div class="KOMRootLink">

<%- include('../../../node_modules/OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: OLSKCanonicalLocalized('KOMVitrineRoute'),
	OLSKRootLinkImageURL: process.env.OLSK_LAYOUT_TOUCH_ICON_URL,
}) %>

</div>
