<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>KOMBrowseInfoTagsDispatchAdd</strong>
	<span id="TestKOMBrowseInfoTagsDispatchAdd">0</span>
	<span id="TestKOMBrowseInfoTagsDispatchAddData">undefined</span>
</p>

<p>
	<strong>KOMBrowseInfoTagsDispatchRemove</strong>
	<span id="TestKOMBrowseInfoTagsDispatchRemove">0</span>
	<span id="TestKOMBrowseInfoTagsDispatchRemoveData">undefined</span>
</p>
