:global(.KOMBrowseList) {
	border-right: var(--KOMBorderStyle);

	--OLSKViewportMasterWidth: 60%;
}

:global(.KOMBrowseList .OLSKMasterListToolbar) {
	border-bottom: var(--KOMBorderStyle);
}

:global(.KOMBrowseList .OLSKMasterListToolbar .OLSKToolbarElementGroup) {
	margin-left: 4px;
}

@media screen and (max-width: 760px) {

:global(.KOMBrowseList .OLSKMasterListToolbar .OLSKToolbarElementGroup) {
	margin-left: 8px;
}

}
