:global(.KOMBrowseList) {
	border-right: var(--KOMBorderStyle);

	/*--OLSKViewportMasterWidth: 60%;*/
}

:global(.KOMBrowseList .OLSKMasterListToolbar) {
	border-bottom: var(--KOMBorderStyle);
}

.KOMBrowseListToolbarCreateButton {
	margin-left: 4px !important;
}

@media screen and (max-width: 760px) {

.KOMBrowseListToolbarCreateButton {
	margin-left: 8px !important;
}

}
