<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<p>
	<strong>KOMBrowseInfoItem</strong>
	<span id="TestKOMBrowseInfoItem">undefined</span>
</p>

<script src="/_shared/__external/launchlet/__compiled/launchlet.js"></script>
<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>KOMBrowseInfoDispatchBack</strong>
	<span id="TestKOMBrowseInfoDispatchBack">0</span>
</p>

<p>
	<strong>KOMBrowseInfoDispatchDiscard</strong>
	<span id="TestKOMBrowseInfoDispatchDiscard">0</span>
</p>

<p>
	<strong>KOMBrowseInfoDispatchDiscardData</strong>
	<span id="TestKOMBrowseInfoDispatchDiscardData">undefined</span>
</p>

<p>
	<strong>KOMBrowseInfoDispatchUpdate</strong>
	<span id="TestKOMBrowseInfoDispatchUpdate">0</span>
</p>

<p>
	<strong>KOMBrowseInfoDispatchTemplate</strong>
	<span id="TestKOMBrowseInfoDispatchTemplate">0</span>
	<span id="TestKOMBrowseInfoDispatchTemplateData">undefined</span>
</p>

<p>
	<strong>KOMBrowseInfoDispatchRead</strong>
	<span id="TestKOMBrowseInfoDispatchRead">0</span>
	<span id="TestKOMBrowseInfoDispatchReadData">undefined</span>
</p>

<p>
	<strong>KOMBrowseInfoAudioDispatchCapture</strong>
	<span id="TestKOMBrowseInfoAudioDispatchCapture">0</span>
</p>

<p>
	<strong>KOMBrowseInfoAudioDispatchFetch</strong>
	<span id="TestKOMBrowseInfoAudioDispatchFetch">0</span>
</p>

<p>
	<strong>KOMBrowseInfoAudioDispatchClear</strong>
	<span id="TestKOMBrowseInfoAudioDispatchClear">0</span>
</p>

<p>
	<strong>KOMBrowseInfoDispatchDebug</strong>
	<span id="TestKOMBrowseInfoDispatchDebug">0</span>
	<span id="TestKOMBrowseInfoDispatchDebugData">undefined</span>
</p>

</body>
</html>
