<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<p>
	<strong>TestKOMBrowseInfoItem</strong>
	<span id="TestKOMBrowseInfoItem">undefined</span>
</p>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestKOMBrowseInfoDispatchBack</strong>
	<span id="TestKOMBrowseInfoDispatchBack">0</span>
</p>

<p>
	<strong>TestKOMBrowseInfoDispatchDiscard</strong>
	<span id="TestKOMBrowseInfoDispatchDiscard">0</span>
</p>

<p>
	<strong>TestKOMBrowseInfoDispatchDiscardData</strong>
	<span id="TestKOMBrowseInfoDispatchDiscardData">undefined</span>
</p>

<p>
	<strong>TestKOMBrowseInfoDispatchUpdate</strong>
	<span id="TestKOMBrowseInfoDispatchUpdate">0</span>
</p>

<p>
	<strong>TestKOMBrowseInfoAudioDispatchCapture</strong>
	<span id="TestKOMBrowseInfoAudioDispatchCapture">0</span>
</p>

<p>
	<strong>TestKOMBrowseInfoAudioDispatchFetch</strong>
	<span id="TestKOMBrowseInfoAudioDispatchFetch">0</span>
</p>

<p>
	<strong>TestKOMBrowseInfoAudioDispatchClear</strong>
	<span id="TestKOMBrowseInfoAudioDispatchClear">0</span>
</p>

</body>
</html>
