.KOMBrowseInfo {
	/* OLSKDecor */
	--OLSKCommonFontFamily: 'Helvetica';
	--OLSKCommonFontSize: 9pt;

	/* KOMBrowseInfoFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 760px) {

.KOMBrowseInfo {
	/*min-height: 100%;*/
}

}

.KOMBrowseInfoToolbar {
	/* KOMBrowseInfoFlexbox:Child */
	flex-shrink: 0;
}

@media screen and (max-width: 760px) {

.KOMBrowseInfoToolbar {
	/* browser quirks */
	z-index: 999;
}

}

.KOMBrowseInfoForm :global(.KOMBrowseInfoAudio) {
	display: inline-block;
}
