.KOMBrowseInfo {
	/* KOMBrowseInfoFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 760px) {

.KOMBrowseInfo > :global(.OLSKDetailPlaceholder) {
	/* KOMBrowseInfoFlexbox:Child */
	flex-grow: 1;
}

}

@media screen and (max-width: 760px) {

.KOMBrowseInfo {
	/*min-height: 100%;*/
}

}

.KOMBrowseInfoToolbar {
	/* KOMBrowseInfoFlexbox:Child */
	flex-shrink: 0;
}

@media screen and (max-width: 760px) {

.KOMBrowseInfoToolbar {
	/* browser quirks */
	z-index: 999;
}

}

.KOMBrowseInfoForm {
	padding: 10px;
}

.KOMBrowseInfoForm p:nth-child(1) {
	margin-top: 0;
}

.KOMBrowseInfoForm hr {
	height: 1px;
	border: none;

	background: #e6e6e6;
}

.KOMBrowseInfoForm :global(input[type=text]) {
	width: 50%;
	border: var(--OLSKCommonEdgeColor);
	border-radius: 5px;
	padding: 5px 7px;

	line-height: 1.7;
}

@media screen and (max-width: 760px) {

	.KOMBrowseInfoForm :global(input[type=text]) {
		width: 90%;
		padding: 10px;
	}

}

.KOMBrowseInfoForm :global(.KOMBrowseInfoAudio) {
	display: inline-block;
}
