<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
	
	'/_shared/__external/launchlet/__compiled/launchlet.js',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>KOMReviewDetailDispatchBack</strong>
	<span id="TestKOMReviewDetailDispatchBack">0</span>
</p>

<p>
	<strong>KOMReviewDetailDispatchBrowse</strong>
	<span id="TestKOMReviewDetailDispatchBrowse">0</span>
</p>

<p>
	<strong>KOMReviewDetailDispatchUpdate</strong>
	<span id="TestKOMReviewDetailDispatchUpdate">0</span>
</p>

<p>
	<strong>KOMReviewDetailDispatchUpdateData</strong>
	<span id="TestKOMReviewDetailDispatchUpdateData">undefined</span>
</p>

<p>
	<strong>KOMReviewDetailDispatchRecount</strong>
	<span id="TestKOMReviewDetailDispatchRecount">0</span>
</p>

<p>
	<strong>KOMReviewDetailDispatchPlay</strong>
	<span id="TestKOMReviewDetailDispatchPlay">0</span>
	<span id="TestKOMReviewDetailDispatchPlayData">undefined</span>
</p>

<p>
	<strong>KOMReviewDetailDispatchDiscard</strong>
	<span id="TestKOMReviewDetailDispatchDiscard">0</span>
	<span id="TestKOMReviewDetailDispatchDiscardData">undefined</span>
</p>

<p>
	<strong>KOMReviewDetailDispatchExport</strong>
	<span id="TestKOMReviewDetailDispatchExport">0</span>
	<span id="TestKOMReviewDetailDispatchExportData">undefined</span>
</p>
