<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestKOMReviewDetailDispatchBack</strong>
	<span id="TestKOMReviewDetailDispatchBack">0</span>
</p>

<p>
	<strong>TestKOMReviewDetailDispatchDiscard</strong>
	<span id="TestKOMReviewDetailDispatchDiscard">0</span>
</p>

<p>
	<strong>TestKOMReviewDetailDispatchDiscardData</strong>
	<span id="TestKOMReviewDetailDispatchDiscardData">undefined</span>
</p>

<p>
	<strong>TestKOMReviewDetailDispatchRename</strong>
	<span id="TestKOMReviewDetailDispatchRename">0</span>
</p>

<p>
	<strong>TestKOMReviewDetailDispatchRenameData</strong>
	<span id="TestKOMReviewDetailDispatchRenameData">undefined</span>
</p>

<p>
	<strong>TestKOMReviewDetailDispatchBrowse</strong>
	<span id="TestKOMReviewDetailDispatchBrowse">0</span>
</p>

<p>
	<strong>TestKOMReviewDetailDispatchUpdate</strong>
	<span id="TestKOMReviewDetailDispatchUpdate">0</span>
</p>

<p>
	<strong>TestKOMReviewDetailDispatchUpdateData</strong>
	<span id="TestKOMReviewDetailDispatchUpdateData">undefined</span>
</p>

<p>
	<strong>TestKOMReviewDetailDispatchPlay</strong>
	<span id="TestKOMReviewDetailDispatchPlay">0</span>
</p>

<p>
	<strong>TestKOMReviewDetailDispatchPlayData</strong>
	<span id="TestKOMReviewDetailDispatchPlayData">undefined</span>
</p>

</body>
</html>
