<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<script src="/_shared/__external/launchlet/__compiled/launchlet.js"></script>
<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>KOMReviewMasterDispatchCreate</strong>
	<span id="TestKOMReviewMasterDispatchCreate">0</span>
</p>

<p>
	<strong>KOMReviewMasterDispatchSelect</strong>
	<span id="TestKOMReviewMasterDispatchSelect">0</span>
	<span id="TestKOMReviewMasterDispatchSelectData">undefined</span>
</p>

<p>
	<strong>KOMReviewMasterDispatchToggleExcludeTripleQuestionMark</strong>
	<span id="TestKOMReviewMasterDispatchToggleExcludeTripleQuestionMark">0</span>
</p>

<p>
	<strong>KOMReviewMasterDispatchToggleDeckFiguresCaching</strong>
	<span id="TestKOMReviewMasterDispatchToggleDeckFiguresCaching">0</span>
</p>

<p>
	<strong>KOMReviewMasterDispatchImportData</strong>
	<span id="TestKOMReviewMasterDispatchImportData">0</span>
	<span id="TestKOMReviewMasterDispatchImportDataData">undefined</span>
</p>

<p>
	<strong>KOMReviewMasterDispatchExportData</strong>
	<span id="TestKOMReviewMasterDispatchExportData">0</span>
</p>

</body>
</html>
