<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>KOMBrowseInfoAudioDispatchCapture</strong>
	<span id="TestKOMBrowseInfoAudioDispatchCapture">0</span>
	<span id="TestKOMBrowseInfoAudioDispatchCaptureData">undefined</span>
</p>

<p>
	<strong>KOMBrowseInfoAudioDispatchFetch</strong>
	<span id="TestKOMBrowseInfoAudioDispatchFetch">0</span>
	<span id="TestKOMBrowseInfoAudioDispatchFetchData">undefined</span>
</p>

<p>
	<strong>KOMBrowseInfoAudioDispatchClear</strong>
	<span id="TestKOMBrowseInfoAudioDispatchClear">0</span>
	<span id="TestKOMBrowseInfoAudioDispatchClearData">undefined</span>
</p>
