<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestKOMBrowseInfoAudioDispatchCapture</strong>
	<span id="TestKOMBrowseInfoAudioDispatchCapture">0</span>
	<span id="TestKOMBrowseInfoAudioDispatchCaptureData">undefined</span>
</p>

<p>
	<strong>TestKOMBrowseInfoAudioDispatchClear</strong>
	<span id="TestKOMBrowseInfoAudioDispatchClear">0</span>
	<span id="TestKOMBrowseInfoAudioDispatchClearData">undefined</span>
</p>

<p>
	<strong>TestKOMBrowseInfoAudioDispatchFetch</strong>
	<span id="TestKOMBrowseInfoAudioDispatchFetch">0</span>
	<span id="TestKOMBrowseInfoAudioDispatchFetchData">undefined</span>
</p>

<p>
	<strong>TestKOMBrowseInfoAudioLog</strong>
	<span id="TestKOMBrowseInfoAudioLog"></span>
</p>

</body>
</html>
