:root {
	--OLSKCommonBackground: var(--KOMCommonBackground);
	--OLSKCommonForeground: var(--KOMCommonForeground);
	--OLSKCommonFontSize: 11pt;
}

body {
	background: var(--KOMCommonBackground);
	color: var(--KOMCommonForeground);
}

.KOMGuideStatisticsLegend td {
	width: unset !important;
	padding: 10px !important;
}

.KOMGuideStatisticsLegend span {
	display: inline-block;
	width: 20px;
	height: 10px;
}

table:not(:first-of-type) td:first-child {
	width: 50%;
}
