:root {
	--OLSKCommonBackground: var(--KOMCommonBackground);
	--OLSKCommonForeground: var(--KOMCommonForeground);
	--OLSKCommonFontSize: 11pt;
}

body {
	background: var(--KOMCommonBackground);
	color: var(--KOMCommonForeground);
}

.KOMGuideCallout {
	padding: 30px;

	margin: 50px 0;

	background: hsl(0, 0%, 96%);
	color: hsl(0, 0%, 20%);
}

.KOMGuideCallout h2 {
	margin-top: 0;
}

.KOMGuideCallout dt {
	font-weight: bold;
}

.KOMGuideCallout dd {
	margin: 10px 0;
}

.KOMGuideCallout :last-child {
	margin-bottom: 0;
}

.KOMGuideStatisticsLegend td {
	width: unset !important;
	padding: 10px !important;
}

.KOMGuideStatisticsLegend span {
	display: inline-block;
	width: 20px;
	height: 10px;
}

table:not(:first-of-type) td:first-child {
	width: 50%;
}
