:root {
	--OLSKCommonBackground: var(--KOMCommonBackground);
	--OLSKCommonForeground: var(--KOMCommonForeground);
	--OLSKCommonFontSize: 11pt;
}

body {
	background: var(--KOMCommonBackground);
	color: var(--KOMCommonForeground);
}

.KOMGuideContent h1 {
	padding-bottom: 2px;

	margin-top: 40px;
	margin-bottom: 0px;
	border-bottom: 1px solid #ccc;
}

.KOMGuideContent table {
	width: 100%;

	margin: 20px 0;
}

.KOMGuideContent table td:first-child {
	width: 50%;
}

.KOMGuideContent table tr td {
	padding: 3px 0;
	border-top: 1px solid #eee;
}

.KOMGuideStatisticsLegend td {
	width: unset !important;
	padding: 10px !important;
}

.KOMGuideStatisticsLegend span {
	display: inline-block;
	width: 20px;
	height: 10px;
}
