.KOMReview {
	--KOMBorderStyle: 1px solid #ddd;
	
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 9pt;

	background: var(--KOMCommonBackground);
	color: var(--KOMCommonForeground);
}

.KOMReview :global(.OLSKToolbar) {
	--OLSKToolbarBackground: var(--KOMCommonBackground);
}

.KOMReviewStorageToolbar {
	border-top: var(--KOMBorderStyle)
}

.KOMReviewStorageToolbarHidden {
	display: none;
}
